{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Organizations" %} - {% trans "watchdog-kj-kultura" %}{% endblock title %}

{% block content %}
<h1 class="heading-accent">{% trans "Organizations" %}</h1>
<div class="row">
  <div class="col-sm-3">
    {% block organization_sidebar %}
    <h2>{% trans "Category" %}</h2>
    <ul>
      {% for category in category_list %}
      <li><a href="{{category.get_absolute_url}}">{{category}}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
  </div>
  <div class="col-sm-9">
    {% block organization_content %}{% endblock %}
  </div>
</div>
{% endblock %}
