{% extends 'organizations/organization_base.html' %}
{% load i18n %}
{% block content %}
<h2>{{object}}</h2>
<p>{% trans 'Requests received:'%} {{organization.request_set.count}}</p>
<pre>
{{object.meta}}
</pre>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {% for key, value in object.meta.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>
<div class="row">
  <div class="col-md-push-4 col-md-4">
      <a href="{% url 'organizations_requests:templates' organization=object.slug %}" class="btn btn-block btn-primary">
        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'Templates of requests' %}
      </a>
  </div>
</div>
<a href="{% url 'organizations:fix' slug=object.slug %}">{% trans 'Report an error' %}</a>
{% endblock %}
