{% extends 'organizations/organization_base.html' %}
{% load i18n %}
{% block title %}{{ object }} - {% trans "watchdog-kj-kultura" %}{% endblock title %}
{% block content %}
<h1 class="heading-accent">{{object}}</h1>

<h2>Dane kontaktowe</h2>
<table class="table table-hover table-fixed">
  <tbody>
    <tr>
      <th class="col-xs-6">Miejscowość</th>
      <td class="col-xs-6">{{object.meta.kod_pocztowy}} {{object.meta.nazwa_miejscowosci}}</td>
    </tr>
    <tr>
      <th>Numer telefonu</th>
      <td>{{object.meta.nr_tel}}</td>
    </tr>
    <tr>
      <th>Strona internetowa</th>
      <td>{{object.meta.www}}</td>
    </tr>
    <tr>
      <th>Biuletyn Informacji Publicznej</th>
      <td>{{object.meta.link_do_bip}}</td>
    </tr>
  </tbody>
</table>
<h2>Finanse</h2>
<h3>Przychody</h3>
<table class="table table-hover table-fixed">
  <tbody>
    <tr>
      <th class="col-xs-9">Dotacje podmiotowe z budżetu samorządu w 2015 r.</th>
      <td class="col-xs-3 text-right">{{object.meta.dotacje_podmiotowe_z_budzetu_samorzadu}}</td>
    </tr>
    <tr>
      <th>Dotacje celowe z budżetu samorządu w 2015 r.</th>
      <td class="text-right">{{object.meta.dotacje_celowe_z_budzetu_samorzadu}}</td>
    </tr>
    <tr>
      <th>Dotacje podmiotowe z budżetu państwa w 2015 r.</th>
      <td class="text-right">{{object.meta.dotacje_podmiotowe_z_budzetu_państwa}}</td>
    </tr>
    <tr>
      <th>Dotacje celowe z budzetu państwa w 2015 r.</th>
      <td class="text-right">{{object.meta.dotacje_celowe_z_budzetu_panstwa}}</td>
    </tr>
    <tr>
      <th>Przychody z tytułu najmu i dzierżawy w 2015 r.</th>
      <td class="text-right">{{object.meta.przychody_z_tytulu_najmu_i_dzierzawy}}</td>
    </tr>
    <tr>
      <th>Środki otrzymane od osób fizycznych w 2015 r.</th>
      <td class="text-right">{{object.meta.srodki_otrzymane_od_osob_fizycznych}}</td>
    </tr>
    <tr>
      <th>Środki otrzymane od osób prawnych w 2015 r.</th>
      <td class="text-right">{{object.meta.srodki_otrzymane_od_osob_prawnych}}</td>
    </tr>
    <tr>
      <th>Inne źródła przychodów w 2015 r.</th>
      <td class="text-right">{{object.meta.inne_zrodla}}</td>
    </tr>
  </tbody>
</table>
<h3>Wydatki</h3>
<table class="table table-hover table-fixed">
  <tbody>
    <tr>
      <th class="col-xs-9">Wynagrodzenia dla specjalistów w 2015 r.</th>
      <td class="col-xs-3 text-right">{{object.meta.wynagrodzenia_dla_specjalistow}}</td>
    </tr>
    <tr>
      <th>Wynagrodzenia dla personelu administracyjnego w 2015 r.</th>
      <td class="text-right">{{object.meta.wynagrodzenia_dla_personelu_adm}}</td>
    </tr>
    <tr>
      <th>Koszty programowe w 2015 r.</th>
      <td class="text-right">{{object.meta.koszty_programowe}}</td>
    </tr>
    <tr>
      <th>Remonty i modernizacje w 2015 r.</th>
      <td class="text-right">{{object.meta.remonty_i_modernizacje}}</td>
    </tr>
    <tr>
      <th>Inwestycje w działalność kulturalną w 2015 r.</th>
      <td class="text-right">{{object.meta.inwestycje_w_dzialalnosc_kulturalna}}</td>
    </tr>
    <tr>
      <th>Pozostałe koszty administracyjne w 2015 r.</th>
      <td class="text-right">{{object.meta.pozostale_koszty_administracyjne}}</td>
    </tr>
  </tbody>
</table>
<h3>Zatrudnienie</h3>
<table class="table table-hover table-fixed">
  <tbody>
    <tr>
      <th class="col-xs-9">Liczba etatów specjalistów (muzycy, aktorzy, kuratorzy, bibliotekarze etc.) w 2015 roku</th>
      <td class="col-xs-3 text-right">{{object.meta.e1}}</td>
    </tr>
    <tr>
      <th>Pracownicy w oparciu o umowy cywilno-prawne na stanowiskach specjalistów (muzycy, aktorzy, kuratorzy, bibliotekarze etc.) w 2015 r.</th>
      <td class="text-right">{{object.meta.f1}}</td>
    </tr>
    <tr>
      <th>Liczba etatów administracyjnych (dyrekcja, księgowość, personel techniczny etc.) w 2015 r.</th>
      <td class="text-right">{{object.meta.c1}}</td>
    </tr>
    <tr>
      <th>Pracownicy w oparciu o umowy cywilno-prawne na stanowiskach administracyjnych (dyrekcja, księgowość, personel techniczny etc.) w 2015 r.</th>
      <td class="text-right">{{object.meta.d1}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Wyślij pismo</h2>
    <div class="row">
      {% for template in template_list %}
        <div class="col-md-6">
            <div class="text-center">
              <h3>{{template.name}}</h3>
              <p>{{template.description}}</p>
              <a href="{% url 'organizations_requests:send' organization=object.slug template=template.slug %}" class="btn btn-block btn-primary">
                <i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'Write a letter' %}
              </a>
            </div>
        </div>
      {% endfor %}
    </div>
    <p>{% trans 'Requests received:'%} {{organization.request_set.count}}</p>
  </div>
</div>

<div class="text-right">
  <a href="{% url 'organizations:fix' slug=object.slug %}">{% trans 'Report an error or complete information' %}</a>
</div>
{% endblock %}
