{% extends 'organizations/organization_base.html' %}
{% load i18n %}
{% block organization_content %}
<h1>{{object}}</h1>
<a href="{% url 'organizations:fix' slug=object.slug %}" class="btn btn-warning">{% trans 'Report an error' %}</a>
{# <a href="{% url 'organizations:request' slug=object.slug %}" class="btn btn-success">{% trans 'Request a information' %}</a> #}
<pre>
{{object.meta}}
</pre>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {% for key, value in object.meta.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
