{% extends 'organizations/organization_base.html' %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block organization_content %}
<div class="organization-list">
<h2>{% trans 'Organizations' %}</h2>
{% if object_list %}
<ul>
    {% for organization in object_list %}
    <li><a href="{{organization.get_absolute_url}}">{{organization}}</a></li>
    {% endfor %}
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
</ul>
{% else %}
    {% trans 'No rows.' %}
{% endif %}
</div>
{% endblock %}
