{% extends 'organizations/organization_list.html' %}
{% load i18n %}

{% block title %}{{ region }} - {% trans "watchdog-kj-kultura" %}{% endblock title %}

{% block organization_content %}
<h1>{{region}}</h1>
{{block.super}}
{% endblock %}

{% block organization_sidebar %}
{{block.super}}
{% if region.get_descendants.all %}
<h2>{{region}}</h2>
<ul>
{% for node in region.get_descendants %}
<li><a href="{% url 'organizations:list' region=node.slug%}">{{node}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
