{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search result" %} - {% trans "watchdog-kj-kultura" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Search" %}</h1>
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        {% include "partials/_search_form.html" %}
        <div class="visible-xs-block">
        <p>&nbsp;</p>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Advanced search
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                {% include "partials/_search_faceting.html" %}
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="hidden-xs">
              {% include "partials/_search_faceting.html" %}
            </div>
            {% comment %}
              <form action="" method="GET" role="form">

                          <div class="form-group">
                            <label for="q">{% trans "Search keywords:" %}</label>
                            <input type="text" name="q" class="form-control" id="" value="{{form.fields.q.widgets.initial}}" placeholder="Search">
                          </div>
                          <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                        </form>
            {% endcomment %}

        </div>
        <div class="col-md-9">
            <h2>{% trans 'Results' %}</h2>
            {% for result in object_list %}
                <p>
                    <h4>
                      <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
                    </h2>
                </p>
            {% empty %}
                <p>{% trans "No results found." %}</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}{% trans "&laquo; Previous" %}{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next &raquo;" %}{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
