{% extends 'base.html' %}
{% load i18n static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block body_classes %}navbar-without-margin{% endblock body_classes %}

{% block css %}
  {{block.super}}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block main %}
  <div class="jumbotron main-header">
    <div class="container">
      <h1>Zobacz, jak państwo wspiera kulturę!</h1>
      <p>W Polsce działają tysiące instytucji kultury finansowanych z naszych podatków. Korzystajmy z ich pracy, wpływajmy na ich kształt i pozyskujmy informacje na temat ich pracy! </p>
      <p>Szukaj instytucji w Twojej okolicy! </p>
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-push-4">
            {% include "partials/_search_form.html" %}
        </div>
      </div>
    </div>
    <ul class="main-header__slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
  </div>
  <div class="section section-features">
    <div class="container">
      <h2 class="heading-accent">Co możesz zrobić?</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
          </div>
          <h3 class="heading-accent">Przejrzeć dane zgromadzone przez nas</h3>
          <p>Zgromadziliśmy dane kontaktowe do ok. 4000 instytucji kultury. Możesz je uzupełniać i aktualizować.</p>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
          </div>
          <h3 class="heading-accent">Wysłać wniosek o informację publiczną lub petycję</h3>
          <p>Chcesz pozyskać dane o pracy instytucji kultury w Twojej okolicy? Może chciałbyś wpłynąć na jej prace? Nasz serwis to umożliwia</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    {% leaflet_map "main" callback="main_map_init" %}
    </div>
  </div>
  <div class="section section-features">
    <div class="container">
      <h2 class="heading-accent">Jakie dane udostępniamy?</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <i class="fa fa-address-card-o fa-5x" aria-hidden="true"></i>
          </div>
          <h3 class="heading-accent">Dane adresowe i kontaktowe</h3>
          <p>Zebraliśmy adresy, e-maile, strony w Biuletynu Informacji Publicznej… Chcemy pomóc Obywatelom dotrzeć od instytucji, które współfinansują!</p>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <i class="fa fa-money fa-5x" aria-hidden="true"></i>
          </div>
          <h3 class="heading-accent">Dane o finansowaniu, wydatkach i zatrudnieniu</h3>
          <p>Wniosek o udostępnienie danych dotyczących finansowania, wydatków i zatrudnieniu wysłaliśmy na  3975 adresów e-mail instytucji kultury. Odpowiedź uzyskaliśmy od 799 z nich. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-support">
    <div class="container">
      <div class="section-content">
        <h2>Kim jesteśmy?</h2>
        <p>Klub Jagielloński jest ogólnopolskim środowiskiem działaczy obywatelskich, publicystów i ekspertów młodego pokolenia pracujących razem na rzecz dobra wspólnego. Prowadzimy działalność edukacyjną, społeczną, wydawniczą i analityczną oraz realizujemy oddolne inicjatywy polityczne zachowując niezależność od partii i innych organizacji politycznych.</p>
        <p>Wydajemy pismo „Pressje” i portal jagiellonski24.pl. Realizujemy Akademię Nowoczesnego Patriotyzmu, w ramach której uczymy młodych ludzi poważnego podejścia do polityki i zachęcamy do wpływania na życie ich lokalnej społeczności. Stworzyliśmy aplikację Pola, dzięki której już ponad 330 000 Polaków pozyskuje szczegółowe informacje o kupowanych przez siebie produktach. Tworzymy ekspertyzy i raporty w ramach Centrum Analiz Klubu Jagiellońskiego, które zrzesza blisko 100 ekspertów różnych specjalizacji. Prowadzimy poradnie prawne w kilkunastu miastach południowej Polski. Każdego roku organizujemy szereg mniejszych projektów społecznych i kulturalnych. </p>
        <p>Chcesz do nas dołączyć? Regularnie spotykamy się już w Krakowie, Warszawie, Łodzi, Katowicach, Gdańsku, Poznaniu, Toruniu, Lublinie, Szczecinie i Rzeszowie!  Skontaktuj się z koordynatorem z najbliższego od działu i zacznij z nami zmieniać Polskę na lepsze.</p>
        <p class="text-center">
          <a href="http://kj.org.pl/o-klubie/oddzialy/" class="btn btn-primary btn-lg">Skontaktuj się z nami</a>
        </p>
      </div>
    </div>
  </div>
  <div class="section section-partners">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2 class="heading-accent">Dofinansowano ze środków:</h2>
          <div class="partner">
            <a href="">
              <img src="{% static 'img/logo-mkidn.jpg' %}" alt="Ministerstwo Kultury i Dziedzictwa Narodowego">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="heading-accent">Wykonanie: </h2>
          <div class="partner">
            <a href="https://siecobywatelska.pl/">
              <img src="{% static 'img/logo-sowp.png' %}" alt="Sieć Obywatelska Watchdog Polska">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function main_map_init (map, options) {
      var geojsonMarkerOptions = {
          radius: 8,
          fillColor: "#ff7800",
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
      };

      map.scrollWheelZoom.disable()

      var dataurl = '{% url "organizations:data" %}';
      $.getJSON(dataurl, function (data) {
          L.geoJson(data, {
              pointToLayer: function (feature, latlng) {
                  var marker = L.circleMarker(latlng, geojsonMarkerOptions);
                  marker.bindPopup('<a href="' + feature.properties.absolute_url + '">' + feature.properties.name + '</a>');
                  return marker;
              }
          }).addTo(map);
      });
  };
  </script>
{% endblock %}
