{% extends 'base.html' %}
{% load i18n static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
  {{block.super}}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
<div class="jumbotron gray">
{{ settings.home_content | safe}}
</div>

<script>
function main_map_init (map, options) {
    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    var dataurl = '{% url "organizations:data" %}';
    $.getJSON(dataurl, function (data) {
        L.geoJson(data, {
            pointToLayer: function (feature, latlng) {
                var marker = L.circleMarker(latlng, geojsonMarkerOptions);
                marker.bindPopup('<a href="' + feature.properties.absolute_url + '">' + feature.properties.name + '</a>');
                return marker;
            }
        }).addTo(map);
    });
};
</script>
<div class="row">
{% leaflet_map "main" callback="main_map_init" %}
</div>
{% endblock %}
